{% extends 'myapp/index.html' %}
{% block body %}
<div class="container">
    <div class="col-md-6  text-center me">
        <strong>GAUTAM | KUMAR</strong><br>
        <p >
            Hi<br>
            I am Gautam.I pursuing my Batchler Degree in Computer field From MITRC,Alwar,Rajsthan.
            B.Tech,CSE(2018-2022)
        </p>
    </div>
    <div class="col-md-12 me my-4 text-center">
        <strong>SKILLS</strong>
        <div class="row">
            {% for skill in skills %}
            <div class="col-md-3 my-1 text-center border skills">
                <strong>{{skill.name}}</strong><br>
                {{skill.level}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}