body {
    background-color: black;
    font-family: sans-serif;
    overflow-x: hidden;
}

.mycard {
    transition: transform .2s;
}

.mycard:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transform: scale(1.1);
}

