body {
    background-color: black;
    font-family: sans-serif;
    font-size: 30px;
    overflow: hidden;

}

.div1 {
    height: 20rem;
    width: 100%;
    justify-content: center;
    color: white;
    overflow: hidden;

}

h2 {
    margin-top: 10rem;
    margin-left: 33rem;
}

.div3 {
    margin-left: 32rem;
}

hr {

    width: 23%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgb(180, 245, 223);
    position: relative;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0px 0px 0px 0px #f9f9f9;
}

img {
    height: .9em;
    width: 1em;
    margin-left: 1.7em;
}

.div2 {
    height: 100px;
    background: white;
    color: black;
    margin-left: 2em;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    font-size: 3rem;
    border: 2px solid brown;
}

.mycard {
    transition: transform .2s;
}

.mycard:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transform: scale(1.1);
}

h3 {
    margin-top: 25px;
}