<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

    <title>GAUTAM | KUMAR</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
  {{{% block body %}
{% endblock body %}}}
    <footer>
        <div class="social_plateform">
            <a href="https://github.com/GK-SVG" target="__blank"><img class="logoimg"
                    src="{% static 'images/fb1.png' %}" alt=""></a>
            <a href="https://www.facebook.com/profile.php?id=100050134031510" target="__blank"><img class="logoimg"
                    src="{% static 'images/github2.png' %}" alt=""></a>
            <a href="https://www.linkedin.com/in/gautam-kumar-3b328b18b/" target="__blank">LinkedIn</a>
        </div>
        <div class="footer_name">
            <h1>GAUTAM</h1><div style="margin:0;">
            <p>Web-developer(Django)</p></div>
        </div>
        <div class="footer_copyright">
            &copy; 2020. All rights reserved
        </div>
    </footer>
  
</body>

</html>